.RingHud {
    width: 100%;
    height: 100%;
}

#RingHudPanel {
    height: 355px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.95);
    flow-children: down;
    text-align: center;
    visibility: collapse;
    align: center bottom;
    margin-bottom: 15%;
    margin-left: 17%;
}

#ButtonRingHud {
    width: 47px;
    height: 47px;
    background-size: contain;
    margin-bottom: 33px;
    vertical-align: bottom;
    z-index: 2;
    overflow: noclip;
    visibility: collapse;
}

#RingHudPanel Label {
    font-size: 16px;
    color: white;
    margin-left: 15px;
}

#RingHudPanelMain {
    height: 35px;
    width: 100%;
    margin-bottom: 5px;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#a3802d), color-stop(1, #141b2122));
}

#RingHudPanelMain Label {
    align: center center;
    margin-left: 0px;
}

#RingHudPanelTwo {
    height: 35px;
    width: 100%;
    margin-top: 10px;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#5885e1), color-stop(1, #141b2122));
}

#RingHudPanelTwo Label {
    align: center center;
    margin-left: 0px;
}

.visible_false {
    visibility: collapse;
}

#ButtonRingHud_b {
    width: 47px;
    height: 47px;
    background-image: url("s2r://panorama/images/custom_game/gamble_png.vtex");
    background-size: contain;
    margin-bottom: 33px;
    vertical-align: bottom;
    z-index: 2;
    overflow: noclip;
    visibility: visible;
}