.Main
{
	width: 100%;
	height: 100%;
}

.WinPredict
{
	width: 300px;
	height: 120px;

    background-color: gradient(linear, 0% 0%, 0% 100%, from(#4010567e), to(rgba(0, 0, 0, 0.582)));
	border: 1px solid #ffffff;
	border-brush: gradient(linear, 0% 0%, 0% 100%, from(#ae00ff), to(#40035d));

	vertical-align: bottom;
	margin-bottom: 300px;
	flow-children: down;
	transform: translateX(-200%);
	transition-property: transform, position, opacity;
	transition-duration: 2s;
	opacity: 0;
}

.WinPredictTop
{
	margin-top: 5px;
	flow-children: down;
	horizontal-align: center;
}

.WinPredictTopLabel
{
	horizontal-align: center;
	margin-top: 5px;
	color: white;
	font-family: Radiance;
}

.WinPredictTopCounterLabel
{
	horizontal-align: center;
	font-size: 28px;
	font-weight: semi-bold;
	color: white;
}

.PariImage
{
	background-image: url("file://{images}/custom_game/pari.png");
    background-size: 100%;
    width: 130px;
    height: 40px;
    horizontal-align: center;
    visibility: collapse;
}

.WinPredictButton
{
    background-color: gradient(linear, 0% 0%, 0% 100%, from(rgba(175, 125, 255, 0.205)), to(rgba(173, 122, 255, 0.404)));
    box-shadow: 0px 0px 1px black;
	horizontal-align: center;
	width: 220px;
	height: 32px;
	margin-top: 5px;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.WinPredictButtonLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #c2f283 ) );
	text-shadow: 0px 0px 4px 2.0 #00000088;
	align: center center;
	font-size: 18px;
}

.WinPredictButton:hover
{
	brightness: 1.4;
}

.WinPredictButton:active
{
	brightness: 0.8;
}

.open
{
	transform: translateX(0px);
	opacity: 1;
}