.Leaderboard 
{
	width: 100%;
	height: 100%;
}

#LeaderboardWindow 
{
	width: 1300px;
	height: 800px;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(rgb(7, 7, 32)), to(#020309ff));
	margin-bottom: 90px;
	border-radius: 16px;
	border: 1px solid #4a3b7acc;
	box-shadow: hollow 0px 0px 30px #000000f0;
	align: center center;
	flow-children: down;
	visibility: collapse;
	transition-property: opacity, pre-transform-scale2d, box-shadow;
	transition-duration: 0.25s;
	pre-transform-scale2d: 0.97;
}

#LeaderboardWindow.sethidden 
{
    opacity: 0;
    box-shadow: hollow 0px 0px 30px #00000000;
}

#LeaderboardWindow.setvisible {
    opacity: 1;
}

#LeaderboardWindow.setvisible {
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.25s;
}

#LeaderBoardIcon {
	background-image: url("file://{images}/custom_game/trophy_leader_png.png");
}

.LeaderBoardIcon {
	vertical-align: center;
	width: 82px;
	height: 100px;
	margin-left: 10px;
	background-size: 100%;
}

.Leaderboardblock {
	height: 580px;
	flow-children: right;
	horizontal-align: center;
}

.MainInformationLeader {
	width: 100%;
	flow-children: down;
	align: left center;
}

.MainInformation2Leader {
	margin-top: 5px;
	width: 550px;
	flow-children: down;
	horizontal-align: center;
}

.MainInformationButtonLeader {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#5a2aaa), to(#3a1a6a));
    border: 1px solid #8a7ac844;
    border-top: 1px solid #b388ff66;
    border-bottom: 1px solid #2a1a4a;
    box-shadow: 0px 2px 4px #00000066, fill 0px 0px 8px #5a2aaa33;
    
    width: 320px;
    height: 48px;
    margin-top: 5px;
    align: center center;
    
    transition-property: brightness, transform, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    
    /* Frosted glass effect */
    background-image: url("s2r://panorama/images/dpc/supclub_purchase_bg_psd.vtex");
    background-size: 100% 100%;
    background-img-opacity: 0.8;
}

.MainInformationButtonLeader Label {
    font-size: 18px;
    color: gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e4c7ff));
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 0px 8px #000000aa;
    align: center center;
    font-family: titleFont;
}

.MainInformationButtonLeader:hover {
    brightness: 1.3;
    transform: translateY(-1px);
    box-shadow: 0px 4px 8px #00000088, fill 0px 0px 12px #6a3aaa66;
    border-top: 1px solid #d6b5ff88;
}

.MainInformationButtonLeader:active {
    brightness: 0.9;
    transform: translateY(1px);
    box-shadow: 0px 1px 2px #00000044;
}

/* Pulse animation for special buttons */
@keyframes 'ButtonPulse' {
    0% { brightness: 1; pre-transform-scale2d: 1; box-shadow: 0px 2px 4px #00000066; }
    50% { brightness: 1.4; pre-transform-scale2d: 1.02; box-shadow: 0px 4px 12px #6a3aaa88; }
    100% { brightness: 1; pre-transform-scale2d: 1; box-shadow: 0px 2px 4px #00000066; }
}

.MainInformationButtonLeader.Pulse 
{
    animation-name: ButtonPulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#DeveloperInfoContainer 
{
	margin-top: 40px;
	width: 550px;
	height: 100%;
	margin-left: 25px;
	margin-right: 25px;
	flow-children: down;
    padding-right: 5px;
}

#DonatorInfoContainer 
{
	width: 550px;
	height: 580px;
	margin-left: 25px;
	margin-right: 25px;
    flow-children: down;
}

#DeveloperInfoContainer 
{
	overflow: squish scroll;
}

.InfoLeaderboardblock 
{
	width: 100%;
	height: 35px;
}

.InfoLeaderboardblockPlayer 
{
	font-size: 18px;
	color: white;
	align: center center;
	text-transform: uppercase;
	font-weight: semi-bold;
}

.InfoLeaderboardblockCreators 
{
	width: 100%;
	height: 35px;
    margin-bottom: 2px;
}

.PlayerInfoTableCreators 
{
	flow-children: right;
	align: left center;
	width: 500px;
	margin-left: 10px;
}

.TopMmrClass 
{
	width: 100%;
	height: 45px;
	border: 1px solid #6a5aaa;
	align: left top;
    border-radius: 12px;
    brightness: 1.2;
    background-color: gradient(linear, 0% 0%, 100% 0%, from(#2a1a5a88), to(#1c0a4a88));
    margin-bottom: 5px;
}

.TopMmrClassExclusive 
{
	width: 100%;
	height: 45px;
	border: 1px solid white;
	align: left top;
	border-brush: gradient(linear, 30% 100%, 90% 0%, from(#cc8727), color-stop(0.08, #e7a850), color-stop(0.38, #f5d7ad), color-stop(0.68, #c0780b), color-stop(0.8, #754705), to(#643f0b));
    border-radius: 12px;
    margin-bottom: 5px;
}

.ExclusiveDonaterBackground 
{
	width: 100%;
	height: 100%;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#d8d2a811), to(#d8d2a800));
	background-image: url("s2r://panorama/images/dpc/supclub_gold_bg_psd.vtex");
}

VerticalScrollBar, HTMLVerticalScrollBar 
{
	width: 3px;
}

.PlayerInfoTable 
{
	flow-children: right;
	align: left center;
	width: 300px;
	margin-left: 45px;
}

.LabelTopMmrlow 
{
	font-size: 20px;
	color: white;
	vertical-align: center;
	text-align: center;
	margin-left: 5px;
	width: 30px;
	text-transform: uppercase;
	font-weight: semi-bold;
}

.AvatarTopMmr 
{
	height: 32px;
	width: 32px;
	background-size: contain;
    border: 1px solid #b38aff;
    border-radius: 100%;
}

.TopMmrNick Label 
{
	font-size: 18px;
	color: #e2d4ff;
	vertical-align: center;
	margin-left: 10px;
    text-overflow: shrink;
    font-weight: semi-bold;
}

.TopMmrNick 
{
	width: 100%;
    vertical-align: center;
}

.MmrInfoTable 
{
	flow-children: right;
	margin-left: 450px;
	margin-top: 5px;
}

.MmrLeaderboard 
{
	vertical-align: center;
	margin-right: 5px;
	margin-top: 3px;
	width: 28px;
	height: 24px;
	background-image: url("file://{images}/custom_game/birzhapass/leaderboard_png.png");
	background-size: 100%;
}

.TopMmrReatingCount 
{
	font-size: 20px;
	color: white;
	margin-top: 5px;
	text-transform: uppercase;
	font-weight: semi-bold;
}

.MainTextInformationLeader 
{
	text-align: center;
	font-size: 13px;
	color: white;
	align: center center;
	font-weight: semi-bold;
	text-transform: uppercase;
}

.MainTextInformationLeaderSeason 
{
	text-align: center;
	font-size: 13px;
	color: white;
	align: center center;
	font-weight: semi-bold;
	text-transform: uppercase;
    margin-top: 10px;
}

.MainTextInformation 
{
	width: 80%;
	font-size: 18px;
	color: #daebff;
	align: center center;
	text-align: center;
}

.MainTextInformation2 
{
	text-align: center;
	font-size: 12px;
	color: white;
	align: center top;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.Leaderboardlogo 
{
	align: center center;
	margin-top: 20px;
	width: 100%;
}

#PlayersList 
{
	width: 100%;
	flow-children: down;
    margin-top: 2px;
}

.ButtonsMaps 
{
	width: 100%;
	height: 40px;
	flow-children: right;
}

.ButtonsMapsBplus 
{
	width: 100%;
	horizontal-align: center;
	height: 30px;
	flow-children: right;
}

#LeaderBoardButton 
{
	margin-left: 160px;
	flow-children: down;
	visibility: visible;
	vertical-align: center;
}

#LeaderBoardButton:hover .LeaderBoardButtonIcon 
{
	brightness: 1.4;
}

.LeaderBoardButtonIcon 
{
	background-image: url("s2r://panorama/images/custom_game/icon_trophy_battle_cup_summer_png.vtex");
	background-size: 100%;
	width: 27px;
	height: 27px;
	brightness: 1;
	horizontal-align: center;
	transition-property: brightness;
	transition-duration: 0.25s;
}

.LeaderBoardButtonLabel 
{
	color: white;
	horizontal-align: center;
	font-size: 12px;
	text-shadow: 0px 0px 10px 3 black;
	text-transform: uppercase;
	margin-top: 2px;
	text-align: center;
    font-family: Reaver;
    font-weight: semi-bold;
}

.ButtonMap 
{
    width: fill-parent-flow(1);
    margin: 0px 6px;
    height: 36px;
    background-color: gradient(linear, 0% 0%, 100% 100%, from(#2a1a5a), to(#4a3a8a));
    border: 1px solid #6a5aaa;
    transition-property: brightness, transform;
    transition-duration: 0.2s;
    brightness: 0.8;
    border-radius: 12px;
}

.ButtonMap:hover 
{
    brightness: 1.2;
    transform: translateY(1px);
}

.ButtonMap_2 
{
	width: 62px;
	margin-left: 2px;
	margin-right: 2px;
	height: 25px;
	vertical-align: center;
	background-color: gradient(linear, 0% 0%, 100% 100%, from(#401b80), color-stop(0.5, #763fdb), to(#401b80));
	border: 1px solid #aaabe733;
	transition-property: height, brightness;
	transition-duration: 0.2s;
	brightness: 0.6;
}

.ButtonMap_2:hover 
{
	brightness: 1.05;
}

.ButtonMapSelect 
{
    brightness: 1.2;
    transform: translateY(1px);
}

.ButtonMapLabel 
{
	color: white;
	font-weight: bold;
	align: center center;
	text-transform: uppercase;
	font-size: 18px;
}

.LeaderBoardLogoText 
{
	font-size: 42px;
	color: white;
	text-shadow: 1px 1px 1px 4.0 black;
	text-align: center;
	font-weight: bold;
	align: center center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Reaver;
}

.CloseLeaderboard 
{
	width: 25px;
	height: 25px;
	margin-right: 20px;
	horizontal-align: right;
	background-image: url("file://{images}/custom_game/close.png");
	background-size: 100%;
	background-repeat: no-repeat;
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
	brightness: 2;
}

.CloseLeaderboard:hover 
{
	brightness: 6;
	pre-transform-scale2d: 1.05;
}

.CloseLeaderboard:Active 
{
	pre-transform-scale2d: 0.9;
}

#ButtonsPanelBackground 
{
	align: left top;
	opacity: 0.5;
	border: 1px solid white;
	border-brush: gradient(linear, 0% 0%, 100% 0%, from(#000c), color-stop(.15, #0000008c), to(#0000));
	z-index: -50;
	width: 390px;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#000c), color-stop(.75, #0000008c), to(#0000));
	height: 47px;
	visibility: collapse;
}