@define BACKGROUND_COLOR: #000000;
@define BACKGROUND_COLOR_WHITE: #FFFFFF28;

.FlyoutScoreboardRoot 
{
    horizontal-align: left;
    vertical-align: top;
    margin-top: 150px;
    flow-children: down;
    padding: 10px;
    transform: translatex( -600px );
    transition-property: transform;
    transition-duration: 0.1s;
    background-image: url("file://{images}/custom_game/fly_bg.png");
    background-size: 100%;
    border: 1px solid black;
    box-shadow: #00000090 0px 0px 4px 0px ;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible
{
    transform: translatex( 0px );
}

#TeamsContainer
{
    flow-children: down;
    horizontal-align: center;
}

.FlyoutTeam
{
    margin-top: 8px;
}

.FlyoutTeam.no_players
{
    visibility: collapse;
}

.local_player_team.FlyoutTeam
{
    z-index: 99;
}

.FlyoutTeamData
{
    flow-children: right;
}

.TeamInfo
{
    margin-top: 1px;
    height: 100%;
}

#TeamColor_GradentFromTransparentLeft
{
    width: 100%;
    height: 100%;
}

#TeamColorOverlay
{
    width: 100%;
    height: 100%;
}

.FlyoutPlayer
{
    flow-children: right;
}

#PlayersContainer
{
    flow-children: down;
}

.local_player_team #PlayersContainer
{
}

.TeamId
{
    flow-children: right;
}

#TeamLogo
{

}

#TeamScore
{
    vertical-align: center;
    horizontal-align: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    text-overflow: clip;
    text-align: center;
}

.one_player #TeamScore
{
    font-size: 24px;
}

#TeamScorePanel
{
    margin-left: 238px;
    width: 50px;
    height: 100%;
    background-color: BACKGROUND_COLOR;
}

.Legend
{
    flow-children: right;
}

.Legend Label
{
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.PlayerRow
{
    height: 32px;
}

#PlayerRowContainer
{
    flow-children: right;
    height: 32px;
}

#HeroIcon
{
    vertical-align: middle;
    border: 1px solid black;
}

#LevelContainer, #KillsContainer, #DeathsContainer, #AssistsContainer, #MmrContainer
{
    height: 100%;
}

.ScoreboardPanel
{
    background-color: BACKGROUND_COLOR;
    margin-top: 1px;
    margin-left: 1px;
}

.LegendPanel
{
    margin-top: 1px;
    margin-left: 1px;
}

.ScoreboardPanel Label
{
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

.UltimateIndicatorShared
{

}

#Level
{
    vertical-align: center;
    horizontal-align: center;
    color: #898b8c;
}

#Kills, #Deaths, #Assists
{
    vertical-align: center;
    font-size: 18px;
    text-align: center;
    margin-top: 3px;
    width: 100%;
    color: white;
}

#Mmr
{
    vertical-align: center;
    font-size: 18px;
    text-align: center;
    margin-top: 3px;
    width: 100%;
    color: gradient( linear, 90% 80%, 30% 20%, from( white ), to( #00ff48 ) );
}

#PlayerName
{
    color: white;
    font-size: 14px;
    margin-bottom: -4px;
    margin-top: 0px;
    white-space: nowrap;
}

#HeroNameAndDescription
{
    color: #898b8c;
    font-size: 13px;
    text-shadow: 2px 2px 2px black;
    margin-top: -1px;
}

 #MuteButton
 {
    z-index:2;
    margin-right: 0px;
    margin-top: 0px;
    horizontal-align: right;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("s2r://panorama/images/custom_game/button_audio_o_png.vtex");
    opacity: 0.8;
}

.is_local_player #MuteButton
{
    visibility: collapse;
}

 #MuteButton:hover
 {
    opacity: 1;
}

.player_muted #MuteButton
{
    z-index:2;
    background-image: url("s2r://panorama/images/custom_game/button_audio_of_png.vtex");
}

 #TeammateGoldAmount
 {
    margin-right: -1px;
    margin-bottom: -2px;
    vertical-align: bottom;
    horizontal-align: right;
    color: #ffd300;
    font-size: 13px;
    text-shadow: 2px 2px 2px black;
    visibility: collapse;
}

.local_player_team #TeammateGoldAmount
{
    visibility: visible;
}

#PlayerDetailsContainer
{
    height: 100%;
}

#PlayerAndHeroName
{
    flow-children: down;
    padding-left: 8px;
}

.is_local_player #Kills,.is_local_player #Deaths,.is_local_player #Assists,.is_local_player #Level,.is_local_player #HeroName
{
    color: white;
}

.ScoreCol_TeamInfo
{
    width: 2px;
}

.ScoreCol_PlayerDetails
{
    margin-left: 5px;
    width: 170px;
}

.ScoreCol_Hero
{
    width: 53px;
}

.ScoreCol_TeamScore
{
    margin-left: 5px;
    width: 50px;
    text-align: center;
    text-align: center;
}

.ScoreCol_Kills,.ScoreCol_Deaths,.ScoreCol_Assists,.ScoreCol_Mmr
{
    margin-left: 5px;
    width: 35px;
    text-align: center;
}

.is_local_player #ReportButtonPlayer
{
    visibility: collapse;
}

.ReportButtonPlayer 
{
    flow-children: right;
    height: 100%;
    margin-top: 1px;
    margin-left: 1px;
    margin-left: 5px;
    saturation: 0;
}

.ReportIcon 
{
     background-image: url("s2r://panorama/images/conduct/report_flag_basic_png.vtex");
     background-repeat: no-repeat;
     background-position: center;
     width: 28px;
     height: 28px;
     border-radius: 2px;
     box-shadow: #00000090 0px 0px 4px 0px ;
     vertical-align: center;
     horizontal-align: center;
     background-size: 11px 14px;
     background-repeat: no-repeat;
     background-position: center;
     background-color: gradient( linear, 0% 0%, 0% 100%, from ( #d12525 ), to ( #720606 ) );
}

.PlayerReported
{
    saturation: 1;
}

.ReportIcon:hover 
{
     brightness: 1.5;
}

.ReportIcon:active 
{
     brightness: 0.5;
}

.Party_1 
{
     wash-color: #01df3a;
}

.Party_2 
{
     wash-color: #d7df01;
}

.Party_3 
{
     wash-color: #df0101;
}

.Party_4 
{
     wash-color: #2e2efe;
}

.Party_5 
{
     wash-color: #58d3f7;
}

.Party_6 
{
     wash-color: #ff8000;
}

.Party_7 
{
     wash-color: #00ffff;
}

.Party_8 
{
     wash-color: #04b404;
}

.Party_9 
{
     wash-color: #bf00ff;
}

.Party_10 
{
     wash-color: #088a68;
}

.Party_11 
{
     wash-color: #86b404;
}

.Party_12 
{
     wash-color: #82fa58;
}

.NoParty 
{
     wash-color: white;
}

.PartyIcon 
{
     background-image: url("s2r://panorama/images/control_icons/ghostfriend_inactive_psd.vtex");
     background-size: 100%;
     height: 14px;
     width: 20px;
     align: right bottom;
     margin-right: 4px;
     margin-bottom: 0px;
}

