.NewTimersPanels
{
    vertical-align: bottom;
    margin-left: 240px;
}

.TimersChildrens
{
    flow-children: down;
    margin-top: 45px;
    ui-scale: 92%;
}

.BGFlare
{
    width: 110px;
    height: 280px;
    background-image: url("s2r://panorama/images/hud/reborn/right_flare_bg_psd.vtex");
    background-size: 100%;
    vertical-align: bottom;
    background-image: url("file://{images}/custom_game/right_flare_bg_psd.png");
	background-size: 100%;
}

.NewTimerPanel
{
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    flow-children: down;
}

.NewTimerCircle
{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    horizontal-align: center;
}

.NewTimerBG
{
    width: 100%;
    height: 100%;
    align: center center;
    border-radius: 50%;
    background-color: gradient( linear, 0% 25%, 0% 100%, from( #181f27e7 ), to( #477077e7 ) );
    box-shadow: 0px 4px 12px -1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.NewTimerRadial
{
    border: 2px solid rgb(204, 220, 232);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-brush: gradient( linear, 0% 0%, 100% 0%, from( #F8E8B9 ), color-stop( 0.5, #eba800), to( #C79123 ) );
    transition-property: clip;
    transition-duration: 0.2s;
}

.NewTimerImage
{
    background-image: url("s2r://panorama/images/hud/timer/power_rune_png.vtex");
    background-size: 100%;
    width: 100%;
    height: 100%;
    align: center center;
}

.NewTimerLabel
{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    horizontal-align: center;
    margin-top: 3px;
    text-shadow: 0px 0px 3px 2 rgba(0, 0, 0, 0.5);
}

.GameTime 
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_sun_psd.vtex");
	transform: scaleX(-1);
	background-size: 100%;
    width: 75%;
    height: 75%;
}

.ScoreImage
{
	background-image: url("file://{images}/custom_game/right_info/win.png");
	background-size: 100%;
    width: 75%;
    height: 75%;
}

.RewardImage
{
	background-image: url("file://{images}/custom_game/right_info/reward.png");
	background-size: 100%;
    width: 70%;
    height: 70%;
}

.FountainTime
{
	background-image: url("s2r://panorama/images/hud/timer/power_rune_png.vtex");
    background-size: 100%;
    width: 100%;
    height: 100%;
    wash-color: rgb(8, 255, 8);
}

.EndGameTime
{
	background-image: url("s2r://panorama/images/events/crownfall/minesweeper/timericon_psd.vtex");
	background-size: 100%;
    wash-color: rgb(255, 187, 0);
    width: 75%;
    height: 75%;
}

#BirzhaScore .NewTimerBG
{
    background-color: gradient( linear, 0% 25%, 0% 100%, from( #181f27e7 ), to( #43437de7 ) );
}

#BirzhaRewardTime .NewTimerBG
{
    background-color: gradient( linear, 0% 25%, 0% 100%, from( #272218e7 ), to( #7d6243e7 ) );
}

#BirzhaGameTime .NewTimerBG
{
    background-color: gradient( linear, 0% 25%, 0% 100%, from( #181f27e7 ), to( #43437de7 ) );
}

#BirzhaFountainTime .NewTimerBG
{
    background-color: gradient( linear, 0% 25%, 0% 100%, from( #192718e7 ), to( #437d46e7 ) );
}

#BirzhaEnd .NewTimerBG
{
    background-color: gradient( linear, 0% 25%, 0% 100%, from( #272718e7 ), to( #7d6b43e7 ) );
}

#BirzhaEnd
{
    visibility: collapse;
}

.MinimapExtraLarge .NewTimersPanels
{
    vertical-align: bottom;
    margin-left: 280px;
}

.MinimapExtraLarge .TimersChildrens
{
    ui-scale: 100%;
}

.MinimapExtraLarge .BGFlare
{
    width: 120px;
    height: 310px;
    background-image: url("s2r://panorama/images/hud/reborn/right_flare_bg_psd.vtex");
    background-size: 100%;
    vertical-align: bottom;
    background-image: url("file://{images}/custom_game/right_flare_bg_psd.png");
	background-size: 100%;
}

.HUDFlipped Label
{
    transform: scaleX(-1);
}