.NeutralSlotCustom
{
    width: 48px;
    height: 48px;
    padding: 2px;
    z-index: 10;
    margin-bottom: 108px;
    horizontal-align: center;
    vertical-align: bottom;
    border-radius: 50%;

    animation-name: PurplePulse;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: infinite;
    opacity: 0;
}

.CraftCreate.NeutralSlotCustom
{
    opacity: 1;
}

@keyframes 'PurplePulse' {
    0% 
    {
        box-shadow: 0px 0px 3px 0px #ff550044;
        brightness: 1;
    }
    20% 
    {
        box-shadow: 0px 0px 6px 2px #ff880066;
        brightness: 1.2;
    }
    40% 
    {
        box-shadow: 0px 0px 6px 0px #ffaa0088;
        brightness: 1.4;
    }
    60% 
    {
        box-shadow: 0px 0px 6px 0px #ff880066;
        brightness: 1.2;
    }
    80% 
    {
        box-shadow: 0px 0px 6px 2px #ff550044;
        brightness: 1;
    }
    100% 
    {
        box-shadow: 0px 0px 3px 0px #ff220022;
        brightness: 0.9;
    }
}

.LevelUpNeutralFX_Custom
{
	width: 100%;
	height: 320px;
	vertical-align: bottom;
	horizontal-align: center;
	opacity: 1;
    animation-name: NeutralUpgradeParticleAnimation_Custom;
	animation-duration: 1.5s;
    z-index: 10;
}

@keyframes 'NeutralUpgradeParticleAnimation_Custom'
{
	0%
	{
		opacity: 0;
		transform: translateY( -4px );
	}
	10%
	{
		opacity: 1;
	}
	80%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		transform: translateY( 24px );
	}
}

#inventory_neutral_level_up_custom
{
	width: 100%;
    height: 100%;
	vertical-align: bottom;
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: 0.1s;
	opacity: 1;
}

#inventory_neutral_level_up_custom .NeutralLevelUpAvailableGlow
{
	ignore-parent-flow: true;
	width: 150%;
	height: 210%;
	margin-top: 16px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(255, 198, 75) ), color-stop( 0.5, rgba(255, 157, 0, 0.251) ), to( rgba(255, 102, 0, 0) ) );
	vertical-align: center;
	horizontal-align: center;
	-s2-mix-blend-mode: screen;
	overflow: noclip;
	opacity: 0.5;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	animation-name: GlowNeutralButtonAnimation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#inventory_neutral_level_up_custom #CraftNeutral
{
    align: center center;
	transition-property: pre-transform-scale2d, transform, brightness;
	transition-duration: 0.1s, 0.2s;
	pre-transform-scale2d: 1;
	brightness: 1;
}

#inventory_neutral_level_up_custom #CraftNeutral:active
{
	pre-transform-scale2d: 0.9;
}

#inventory_neutral_level_up_custom #CraftNeutral .LevelUpNeutralButton
{
	width: 44px;
	height: 44px;
}

#inventory_neutral_level_up_custom #CraftNeutral .LevelUpNeutralButton .LevelUpNeutralButtonBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% 10%, 0% 0%, 90% 90%, from( #8A7946 ), color-stop( 0.6, #B8A35A), color-stop( 0.9, #D8C382), to( #fff4d3 ) );
	border: 1px solid rgb(255, 250, 225);
	border-brush: gradient( linear, 0% 0%, 0% 50%, from( #ffffffcf ), to( #1d191399 ) );
	border-radius: 50%;
	box-shadow: 0px 2px 24px -1px rgba(0, 0, 0, 0.8);
	transition-property: brightness;
	transition-duration: 0.1s;
}

#inventory_neutral_level_up_custom #CraftNeutral .LevelUpNeutralButton .LevelUpNeutralButtonIcon,#inventory_neutral_level_up_custom #CraftNeutral .LevelUpNeutralButton .LevelUpNeutralButtonIconShadow
{
	horizontal-align: center;
	vertical-align: center;
	height: 24px;
}

#inventory_neutral_level_up_custom #CraftNeutral .LevelUpNeutralButton .LevelUpNeutralButtonIcon
{
	opacity-brush: gradient( radial, 50% 50%, 0% 0%, 40% 40%, from( #664505 ), to( #452A07 ) );
	transition-property: opacity-brush;
	transition-duration: 0.1s;
}

#inventory_neutral_level_up_custom #CraftNeutral .LevelUpNeutralButton .LevelUpNeutralButtonIconShadow
{
	opacity-brush: rgba(255, 246, 203, 0.9);
	margin-top: 1px;
}

#inventory_neutral_level_up_custom #CraftNeutral .LevelUpNeutralButton:hover .LevelUpNeutralButtonBackground
{
	brightness: 1.5;
}

#inventory_neutral_level_up_custom #CraftNeutral .LevelUpNeutralButton:hover .LevelUpNeutralButtonIcon
{
	opacity-brush: gradient( radial, 45% 55%, 0% 0%, 50% 50%, from( #FFFFD7 ), color-stop( 0.5, #ffec9f ), color-stop( 0.9, #d8b85e ), to( #c79b21 ) );
}

#inventory_neutral_level_up_custom .NeutralBurstFX
{
	width: 100%;
	height: 80px;
	margin-bottom: 2px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.NeutralsRollerPanel
{
    height: 120px;
    width: 400px;
    opacity: 0;
    ignore-parent-flow: true;
    horizontal-align: right;
    vertical-align: bottom;
    margin-bottom: 160px;
    flow-children: down;

    background-color: gradient(linear, 0% 0%, 0% 100%, from(#2a0d3aee), to(#0d0618ee));
    border: 1px solid #ffffff12;
    border-top: 2px solid #c875ff;
    border-brush: gradient(radial, 50% 0%, 0% 0%, 100% 100%, from(#ae00ff66), to(#40035d00));
    box-shadow: 0px 0px 5px 0px #5a00ff33;

    transform: translateY(50px) rotateY(5deg);
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.NeutralsRollerPanel.Visible
{
    transform: translateX(0px) rotateY(0deg);
    opacity: 1;
}

.HeaderRoller
{
    margin-top: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.HeaderText
{
    horizontal-align: center;
    color: gradient( linear, 0% 0%, 0% 100%, from( #e8d1ff ), to( #b388ff ) );
    font-family: titleFont;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 0px 8px #a545ff66;
    font-weight: semi-bold;
    vertical-align: center;
    width: 100%;
    text-align: center;
    text-overflow: shrink;
}

.ItemsListNeutrals
{
    padding-left: 25px;
    padding-right: 25px;
    flow-children: right;
    horizontal-align: center;
}

.item_choose_panel
{
    width: 80px;
    height: 80px;
    margin-right: 5px;
    transition-property: brightness, pre-transform-scale2d;
    transition-duration: 0.1s;
}

.item_main_panel
{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-top: 8px;
    border: 1px solid #6a5aaa;
    box-shadow: 0px 0px 5px 1px #ea00ff33;
}

.item_second_panel
{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    horizontal-align: right;
    border: 1px solid #6a5aaa;
    box-shadow: 0px 0px 5px 0px #5a00ff33;
}

.DOTAItemImageCustom
{
    width: 100%;
    height: 100%;
}

.item_choose_panel:hover
{
    brightness: 1.5;
    pre-transform-scale2d: 0.95;
}