.Leaderboard {
	width: 100%;
	height: 100%;
}

#LeaderboardWindow {
	width: 1300px;
	height: 800px;
	background-color: rgba(0, 0, 0, 1);
	background-image: url("s2r://panorama/images/dpc/supclub_purchase_bg_psd.vtex");
	background-size: 100% 100%;
	margin-bottom: 50px;
	border-top: 2px solid #190217;
	border-left: 2px solid #190217;
	border-bottom: 2px solid #190217;
	border-right: 2px solid #190217;
	box-shadow: 0px 0px 12px 0px #000000a5;
	align: center center;
	flow-children: down;
	visibility: collapse;
	pre-transform-scale2d: 0;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.25s;
}

#LeaderboardWindow.sethidden {
	pre-transform-scale2d: 0;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.25s;
}

#LeaderboardWindow.setvisible {
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.25s;
}

#LeaderBoardIcon {
	background-image: url("file://{images}/custom_game/trophy_leader_png.png");
}

.LeaderBoardIcon {
	vertical-align: center;
	width: 82px;
	height: 100px;
	margin-left: 10px;
	background-size: 100%;
}

.Leaderboardblock {
	height: 560px;
	flow-children: right;
	horizontal-align: center;
}

.MainInformationLeader {
	width: 100%;
	flow-children: down;
	align: left center;
}

.MainInformation2Leader {
	margin-top: 5px;
	width: 550px;
	flow-children: down;
	horizontal-align: center;
}

.MainInformationButtonLeader {
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#4d09cadd), to(#9109ca));
	border-top: 1px solid #6F819B22;
	border-left: 1px solid #6F819B22;
	border-right: 1px solid #6F819B11;
	border-bottom: 1px solid #3F414B33;
	width: 300px;
	height: 45px;
	margin-top: 15px;
	align: center center;
	transition-property: brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.MainInformationButtonLeader Label {
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	horizontal-align: center;
	text-shadow: 0px 0px 5px 2 black;
	align: center center;
}

.MainInformationButtonLeader:hover {
	brightness: 1.2;
}

.MainInformationButtonLeader:active {
	brightness: 0.8;
}

#DeveloperInfoContainer {
	margin-top: 40px;
	width: 550px;
	height: 490px;
	margin-left: 25px;
	margin-right: 25px;
	flow-children: down;
}

#DonatorInfoContainer {
	width: 550px;
	height: 580px;
	margin-left: 25px;
	margin-right: 25px;
}

#DeveloperInfoContainer {
	overflow: squish scroll;
}

.InfoLeaderboardblock {
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #38424b;
	margin-top: 40px;
}

.InfoLeaderboardblockPlayer {
	font-size: 18px;
	color: white;
	align: center center;
	text-transform: uppercase;
	font-weight: semi-bold;
}

.InfoLeaderboardblockCreators {
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #38424b;
}

.PlayerInfoTableCreators {
	flow-children: right;
	align: left center;
	width: 300px;
	margin-left: 10px;
}

.TopMmrClass {
	width: 100%;
	height: 45px;
	border: 1px solid #38424b;
	align: left top;
}

.TopMmrClassExclusive {
	width: 100%;
	height: 45px;
	border: 1px solid white;
	align: left top;
	border-brush: gradient(linear, 30% 100%, 90% 0%, from(#cc8727), color-stop(0.08, #e7a850), color-stop(0.38, #f5d7ad), color-stop(0.68, #c0780b), color-stop(0.8, #754705), to(#643f0b));
}

.ExclusiveDonaterBackground {
	width: 100%;
	height: 100%;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#d8d2a811), to(#d8d2a800));
	background-image: url("s2r://panorama/images/dpc/supclub_gold_bg_psd.vtex");
}

VerticalScrollBar, HTMLVerticalScrollBar {
	width: 3px;
}

.PlayerInfoTable {
	flow-children: right;
	align: left center;
	width: 300px;
	margin-left: 45px;
}

.LabelTopMmrlow {
	font-size: 20px;
	color: white;
	vertical-align: center;
	text-align: center;
	margin-left: 5px;
	width: 30px;
	text-transform: uppercase;
	font-weight: semi-bold;
}

.AvatarTopMmr {
	height: 32px;
	width: 32px;
	background-size: contain;
}

.TopMmrNick Label {
	font-size: 18px;
	color: #ffffff;
	vertical-align: center;
	margin-left: 5px;
	margin-top: 5px;
	height: 18px;
}

.TopMmrNick {
	width: 100%;
}

.MmrInfoTable {
	flow-children: right;
	margin-left: 450px;
	margin-top: 5px;
}

.MmrLeaderboard {
	vertical-align: center;
	margin-right: 5px;
	margin-top: 3px;
	width: 28px;
	height: 24px;
	background-image: url("file://{images}/custom_game/birzhapass/leaderboard_png.png");
	background-size: 100%;
}

.TopMmrReatingCount {
	font-size: 20px;
	color: white;
	margin-top: 5px;
	text-transform: uppercase;
	font-weight: semi-bold;
}

.MainTextInformationLeader {
	text-align: center;
	font-size: 13px;
	color: white;
	align: center center;
	font-weight: semi-bold;
	text-transform: uppercase;
}

.MainTextInformationLeaderSeason {
	text-align: center;
	font-size: 13px;
	color: white;
	align: center center;
	font-weight: semi-bold;
	text-transform: uppercase;
}

.MainTextInformation {
	width: 80%;
	font-size: 18px;
	color: #daebff;
	align: center center;
	text-align: center;
}

.MainTextInformation2 {
	text-align: center;
	font-size: 12px;
	color: white;
	align: center top;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.Leaderboardlogo {
	align: center center;
	margin-top: 20px;
	width: 100%;
}

#PlayersList {
	width: 100%;
	flow-children: down;
	margin-top: 80px;
}

.ButtonsMaps {
	width: 100%;
	height: 40px;
	flow-children: right;
}

.ButtonsMapsBplus 
{
	width: 100%;
	horizontal-align: center;
	height: 30px;
	flow-children: right;
}

#LeaderBoardButton {
	margin-left: 160px;
	flow-children: down;
	visibility: visible;
	vertical-align: center;
}

#LeaderBoardButton:hover .LeaderBoardButtonIcon {
	brightness: 1.4;
}

.LeaderBoardButtonIcon {
	background-image: url("s2r://panorama/images/custom_game/icon_trophy_battle_cup_summer_png.vtex");
	background-size: 100%;
	width: 27px;
	height: 27px;
	brightness: 1;
	horizontal-align: center;
	transition-property: brightness;
	transition-duration: 0.25s;
}

.LeaderBoardButtonLabel {
	color: white;
	horizontal-align: center;
	font-size: 12px;
	text-shadow: 0px 0px 1px 2 black;
	text-transform: uppercase;
	margin-top: 2px;
	text-align: center;
}

.ButtonMap {
	width: fill-parent-flow( 1 );
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
	vertical-align: bottom;
	background-color: gradient(linear, 0% 0%, 100% 100%, from(#401b80), color-stop(0.5, #763fdb), to(#401b80));
	border: 1px solid #aaabe733;
	transition-property: height, brightness;
	transition-duration: 0.2s;
    margin-bottom: 5px;
	brightness: 0.6;
}

.ButtonMap:hover {
	brightness: 1.05;
}

.ButtonMap_2 
{
	width: 62px;
	margin-left: 2px;
	margin-right: 2px;
	height: 25px;
	vertical-align: center;
	background-color: gradient(linear, 0% 0%, 100% 100%, from(#401b80), color-stop(0.5, #763fdb), to(#401b80));
	border: 1px solid #aaabe733;
	transition-property: height, brightness;
	transition-duration: 0.2s;
	brightness: 0.6;
}

.ButtonMap_2:hover {
	brightness: 1.05;
}

.ButtonMapSelect {
	brightness: 1.1;
}

.ButtonMapLabel {
	color: white;
	font-weight: bold;
	align: center center;
	text-transform: uppercase;
	font-size: 18px;
}

.BirzhaPass {
	width: 100%;
	height: 100%;
}

#BirzhaPlusButton {
	margin-left: 220px;
	flow-children: down;
	visibility: visible;
	vertical-align: center;
}

#BirzhaPlusButton:hover .BirzhaPlusButtonIcon {
	brightness: 1.4;
}

.BirzhaPlusButtonIcon {
	background-image: url("file://{images}/custom_game/birzhapass/passbuttonoff_png.png");
	background-size: 100%;
	width: 27px;
	height: 27px;
	brightness: 1;
	horizontal-align: center;
	transition-property: brightness;
	transition-duration: 0.25s;
}

.BirzhaPlusButtonLabel {
	color: white;
	horizontal-align: center;
	font-size: 12px;
	text-shadow: 0px 0px 1px 2 black;
	text-transform: uppercase;
	margin-top: 2px;
	text-align: center;
}

#BirzhaPassWindow 
{
	width: 1300px;
	height: 850px;
	background-image: url("file://{images}/custom_game/plus/background.png");
	background-size: 100%;
	align: center center;
	visibility: collapse;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.25s;
	margin-bottom: 50px;
	pre-transform-scale2d: 0;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.25s;
	border-top-color: #555555;
	border-left-color: #494949;
	border-bottom-color: #333333;
	border-right-color: #404040;
	border-style: solid;
	border-width: 1px;
}

#BirzhaPassWindow.sethidden {
	pre-transform-scale2d: 0;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.25s;
}

#BirzhaPassWindow.setvisible {
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.25s;
}

.CloseBattlepass 
{
	width: 35px;
	height: 35px;
	margin-right: 15px;
	margin-top: 15px;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
	brightness: 2;
}

.CloseBattlepass:hover {
	brightness: 6;
	pre-transform-scale2d: 1.05;
}

.CloseBattlepass:Active {
	pre-transform-scale2d: 0.9;
}

.CloseLeaderboard {
	width: 35px;
	height: 35px;
	margin-right: 20px;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
	brightness: 2;
}

.CloseLeaderboard:hover {
	brightness: 6;
	pre-transform-scale2d: 1.05;
}

.CloseLeaderboard:Active {
	pre-transform-scale2d: 0.9;
}

.BirzhaPassLogo {
	width: 100%;
	margin-bottom: 10px;
}

.BirzhaPlusHeader {
	horizontal-align: center;
	margin-top: 10px;
	flow-children: right;
}

.BirzhaPassLogoText {
	font-size: 42px;
	color: gradient(linear, 0% 0%, 0% 100%, from(gold), to(#f5cb84));
	text-shadow: 1px 1px 1px 1.0 #a17a3c;
	text-align: center;
	font-weight: bold;
	align: center center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Reaver;
}

.LeaderBoardLogoText {
	font-size: 42px;
	color: white;
	text-shadow: 1px 1px 1px 4.0 black;
	text-align: center;
	font-weight: bold;
	align: center center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Reaver;
}

#PassIcon {
	horizontal-align: right;
	background-image: url("s2r://panorama/images/custom_game/birzhapass/passbuttonoff_png.vtex");
}

.PassIcon {
	vertical-align: center;
	width: 80px;
	height: 80px;
	background-size: 80% 80%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	wash-color: white;
}

#TableInfoPlayer {
	width: 100%;
	height: 100%;
}

#PlayerInfo {
	horizontal-align: center;
	flow-children: right;
	border: 2px solid rgba(0, 0, 0, 0.8);
	background-color: #0009;
	width: 100%;
	height: 100%;
}

.PlayerMainInfo {
	flow-children: right-wrap;
	width: 100%;
	margin-right: 10px;
	margin-top: 55px;
}

#PlayerBPInfo {
	height: 100%;
	flow-children: down;
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid gray;
}

#PlayerStats {
	height: 100%;
	flow-children: down;
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid gray;
}

.WhatIsPanel {
	height: 25px;
	width: 240px;
	background-color: rgba(0, 0, 0, 0.6);
}

.WhatIsPanel Label {
	align: center center;
	color: white;
}

.textinfo {
	color: white;
	font-size: 14px;
	width: 100%;
	text-align: center;
	font-family: Source Sans Pro;
	font-weight: bold;
	align: center center;
	text-transform: uppercase;
}

.textinfo_2 {
	color: white;
	letter-spacing: 1px;
	margin-bottom: 1px;
	font-size: 12px;
	width: 100%;
	text-align: center;
	height: 20px;
	horizontal-align: center;
	font-family: Source Sans Pro;
	font-weight: bold;
	text-transform: uppercase;
}

.PanelHeroes 
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
	flow-children: down;
}

.PanelHeroesMain {
	width: 100%;
	height: 100%;
	flow-children: down;
	overflow: squish scroll;
	horizontal-align: center;
}

.HeroRow 
{
	width: 100%;
	height: 34px;
	margin-bottom: 10px;
	flow-children: right;
    background-color: gradient(linear, 0% 0%, 100% 0%, from(rgba(203, 163, 255, 0.034)), to(rgba(33, 27, 45, 0.13)));
    border: 1px solid white;
    border-brush: gradient(linear, 0% 0%, 100% 0%, from(rgba(92, 82, 200, 0.5)), to(rgba(33, 27, 45, 0.13)));
}

.HeroIconPanel 
{
	width: 18%;
	height: 100%;
}

.HeroIcon 
{
	width: 55px;
	height: 30px;
    align: center center;
}

.HeroName {
	vertical-align: center;
	color: white;
	width: 18%;
	text-align: center;
	text-overflow: ellipsis;
	font-size: 12px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}

.HeroGames 
{
	vertical-align: center;
	color: white;
	width: 18%;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}

.HeroWinrate {
	vertical-align: center;
	color: white;
	width: 18%;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}

.HeroKD {
	width: 18%;
	vertical-align: center;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}

.HeroRank {
	width: 28%;
	height: 100%;
	vertical-align: center;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}

.rank_progress_panel {
	width: 80%;
	height: 4px;
	margin-top: 5px;
	horizontal-align: center;
	vertical-align: bottom;
	z-index: -1;
}

.rank_progress_panel_front {
	width: 50%;
	height: 100%;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#ae9249), to(#e0c59a));
}

.rank_progress_panel_back {
	width: 100%;
	height: 100%;
	background-color: gray;
}

.rank_progress_label {
	font-size: 14px;
	font-weight: bold;
    width: 100%;
    margin-top: 10px;
    text-align: center;
	align: center center;
	color: white;
	text-shadow: 0px 0px 1px 3 black;
}

.BuySubscribe {
	align: center center;
	font-size: 30px;
	color: gray;
	width: 80%;
	text-align: center;
	font-weight: bold;
}

.Row_Info 
{
	width: 100%;
	height: 30px;
	flow-children: right;
}

.Info_HeroName 
{
	vertical-align: center;
	color: rgba(255, 255, 255, 0.253);
	width: 18%;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
    font-weight: semi-bold;
	letter-spacing: 1px;
    transition-property: color;
    transition-duration: 0.2s;
}

.Info_HeroGames 
{
	vertical-align: center;
	color: rgba(255, 255, 255, 0.253);
	width: 18%;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
    font-weight: semi-bold;
	letter-spacing: 1px;
    transition-property: color;
    transition-duration: 0.2s;
}

.Info_HeroWinrate 
{
	vertical-align: center;
	color: rgba(255, 255, 255, 0.253);
	width: 18%;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
    font-weight: semi-bold;
	letter-spacing: 1px;
    transition-property: color;
    transition-duration: 0.2s;
}

.Info_HeroKD 
{
	vertical-align: center;
	color: rgba(255, 255, 255, 0.253);
	width: 18%;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
    font-weight: semi-bold;
	letter-spacing: 1px;
    transition-property: color;
    transition-duration: 0.2s;
}

.Info_HeroRank 
{
	vertical-align: center;
	color: rgba(255, 255, 255, 0.253);
	width: 28%;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
    font-weight: semi-bold;
	letter-spacing: 1px;
    transition-property: color;
    transition-duration: 0.2s;
}

.Info_HeroGames:hover, .Info_HeroWinrate:hover, .Info_HeroKD:hover 
{
	color: white;
}



#PlayerCircleWinrate {
	width: 200px;
	height: 200px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 55px;
}

#PlayerCircleWinrateBG {
	align: center center;
	width: 100%;
	height: 100%;
	background-image: url("file://{images}/custom_game/plus/winrate_bg.png");
	background-size: 100%;
	z-index: 40;
}

#PlayerCircleWinrateFG {
	align: center center;
	width: 100%;
	height: 100%;
	background-image: url("file://{images}/custom_game/plus/winrate_fg.png");
	background-size: 100%;
	z-index: 50;
	transition-property: clip;
	transition-duration: 1.2s;
	transition-timing-function: ease-in-out;
	clip: radial(50.0% 50.0%, 0.0deg, 0.0deg);
}

.WinrateLabelPanel {
	z-index: 100;
	align: center center;
	flow-children: down;
}

.WinrateLabelText {
	font-size: 20px;
	color: white;
	horizontal-align: center;
}

.WinrateLabel {
	font-size: 26px;
	color: white;
	horizontal-align: center;
	font-weight: bold;
}

#MenuPanel {
	height: 50px;
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 40px;
}

.MenuButtonsPanel {
	width: 200px;
	height: 100%;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#401056), to(black));
	box-shadow: 0px 0px 8px black;
	border: 1px solid #ffffff;
	border-brush: gradient(linear, 0% 0%, 0% 100%, from(#ae00ff), to(#40035d));
	margin-left: 20px;
	margin-right: 20px;
}

.MenuButtonsPanel:hover {
	brightness: 1.3;
}

.MenuButtonsPanel:active {
	brightness: 0.5;
}

.MenuButtonsText {
	color: white;
	align: center center;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: semi-bold;
	text-shadow: 1px 1px 1px 2 black;
	margin-top: 1px;
	font-family: Reaver;
	text-transform: uppercase;
}

.PanelInfo {
	color: white;
	font-size: 28px;
	horizontal-align: center;
	z-index: 10;
	font-weight: bold;
	margin-top: 10px;
	text-shadow: 0px 0px 4px 1 purple;
}

.InfoRow {
	margin: 10px;
	flow-children: down;
}

.Info_bg {
	background-image: url("file://{images}/custom_game/plus/info_bg.png");
	background-size: 100%;
	width: 200px;
	height: 40px;
	border: 1px solid #aaabe733;
	box-shadow: 0px 0px 4px black;
}

.RatingSeasonName {
	color: white;
	font-size: 28px;
	horizontal-align: center;
	z-index: 10;
	font-weight: bold;
	margin-top: 10px;
	text-shadow: 0px 0px 4px 1 purple;
	margin-top: 250px;
}

#AllRatingSeasons {
	height: 100%;
	margin-top: 340px;
	flow-children: right-wrap;
	horizontal-align: left;
	margin-left: 48px;
}

.MmrSeasonBlock 
{
	width: 100%;
	height: 40px;
	flow-children: right;
	margin: 5px;
    margin-left: 10px;
    background-color: gradient(linear, 0% 0%, 85% 0%, from(rgba(0, 0, 0, 0.485)), to(rgba(0, 0, 0, 0)));
}

.MmrBlockPanelSeason 
{
	width: 40px;
	height: 40px;
	horizontal-align: center;
	background-image: url("file://{images}/custom_game/plus/season_logo.png");
	background-size: 100%;
}

.MmrBlockPanel 
{
    vertical-align: center;
    margin-left: 10px;
}

.label_block_rating 
{
	font-size: 24px;
	text-align: center;
    vertical-align: center;
	color: white;
	font-weight: semi-bold;
	text-shadow: 0px 0px 1px 3 black;
}

.label_block_rating_count {
	font-size: 24px;
	text-align: center;
	align: center center;
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 5px 8 black;
	border-radius: 30px;
    width: 100%;
	background-blur: gaussian(1);
}

#HeroesInformation {
	width: 100%;
	height: 100%;
	visibility: collapse;
}

#ButtonsPanelBackground {
	align: left top;
	opacity: 0.5;
	border: 1px solid white;
	border-brush: gradient(linear, 0% 0%, 100% 0%, from(#000c), color-stop(.15, #0000008c), to(#0000));
	z-index: -50;
	width: 390px;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#000c), color-stop(.75, #0000008c), to(#0000));
	height: 47px;
	visibility: collapse;
}

#BirzhaPassWindowActive {
	width: 1300px;
	height: 850px;
	flow-children: down;
}

#BirzhaPassWindowDeactive {
	width: 1300px;
	height: 850px;
	flow-children: down;
	background-image: url("file://{images}/custom_game/plus/background.png");
	background-size: 100%;
}

#PlusLogoScene {
	width: 600px;
	height: 600px;
	transform: rotateY(180deg);
	margin-left: 10px;
}

.HeaderBirzhaPlusBuy {
	font-size: 24px;
	color: white;
	text-shadow: 1px 1px 1px 1.0 black;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Reaver;
	horizontal-align: center;
	margin-top: 50px;
	border-bottom: 1px solid #fff;
	border-brush: gradient(radial, 50% 50%, 0% 0%, 90% 55%, from(gold), to(#fff0));
}

.HeaderBirzhaPlusBuyDescription {
	font-size: 15px;
	color: white;
	text-shadow: 1px 1px 1px 1.0 black;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	horizontal-align: center;
	margin-top: 20px;
}

.ButtonBuySubscribe {
	width: 500px;
	height: 100px;
	horizontal-align: center;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#401056), to(black));
	box-shadow: 0px 0px 8px black;
	border: 1px solid #ffffff;
	border-brush: gradient(linear, 0% 0%, 0% 100%, from(#ae00ff), to(#40035d));
	margin-top: 60px;
	margin-bottom: 20px;
}

.ButtonBuySubscribe:hover {
	brightness: 1.3;
}

.ButtonBuySubscribe:active {
	brightness: 0.5;
}

.ButtonBuySubscribeHead {
	font-size: 28px;
	font-weight: bold;
	color: white;
    text-transform: uppercase;
	horizontal-align: center;
	margin-top: 10px;
}

.ButtonBuySubscribeHeadDescirption {
	font-size: 15px;
	font-weight: bold;
	color: white;
	horizontal-align: center;
}

.ButtonBuySubscribeCheck 
{
	width: 150px;
	height: 40px;
	horizontal-align: center;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#401056), to(black));
	box-shadow: 0px 0px 8px black;
	border: 1px solid #ffffff;
	border-brush: gradient(linear, 0% 0%, 0% 100%, from(#ae00ff), to(#40035d));
	margin-top: 20px;
}

.ButtonBuySubscribeCheck:hover 
{
	brightness: 1.3;
}

.ButtonBuySubscribeCheck:active 
{
	brightness: 0.5;
}


.ButtonBuySubscribeCheckMini
{
    font-size: 15px;
	font-weight: bold;
	color: white;
	horizontal-align: center;
    vertical-align: center;
}










.BirzhaPlusInformationBody 
{
    margin-top: 50px;
	width: 600px;
	height: 530px;
    vertical-align: center;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid #ffffff;
	border-brush: gradient(linear, 0% 0%, 0% 100%, from(#ae00ff), to(#40035d));
}


.BirzhaPlusInformationBodyInfo 
{
	width: 100%;
	height: 157px;
	vertical-align: bottom;
	background-color: rgba(0, 0, 0, 0.85);
	flow-children: down;
}

.BirzhaPlusInformationBodyInfoName 
{
	horizontal-align: center;
	color: white;
	font-weight: semi-bold;
	letter-spacing: 1px;
	font-size: 24px;
	font-family: 'Radiance';
	text-transform: uppercase;
	margin-top: 18px;
}

.BirzhaPlusInformationBodyInfoDescr 
{
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	font-size: 16px;
	font-family: 'Radiance';
	horizontal-align: center;
	margin-top: 26px;
    text-align: center;
    height: 40px;
}

.BirzhaPlusInformationBodyInfoNavigation 
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 7px;
}

.NavigationWidgets 
{
	flow-children: right;
}

.BirzhaPlusInformationBodyImage
{
    width: 100%;
    height: 100%;
}

.NavigationArrowLeft 
{
	background-image: url("file://{images}/custom_game/arrow_left.png");
	background-size: 100%;
	width: 6px;
	height: 8px;
	vertical-align: center;
	margin-right: 5px;
	wash-color: gray;
	transition-property: wash-color;
	transition-duration: 0.1s;
}

.NavigationArrowRight 
{
	background-image: url("file://{images}/custom_game/arrow_right.png");
	background-size: 100%;
	width: 6px;
	height: 8px;
	vertical-align: center;
	margin-left: 5px;
	wash-color: gray;
	transition-property: wash-color;
	transition-duration: 0.1s;
}

.NavigationArrowLeft:hover 
{
	wash-color: white;
}

.NavigationArrowRight:hover 
{
	wash-color: white;
}

.NavigationWidget 
{
	width: 6px;
	height: 6px;
    border-radius: 6px;
	background-color: gray;
	margin: 5px;
	vertical-align: center;
}

.NavigationWidget_Active 
{
	background-color: rgb(255, 0, 255);
}

.BPCostMain
{
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 15px;
    flow-children: right;
}

.BPCostImage
{
    width: 40px;
    height: 40px;
    background-image: url("file://{images}/custom_game/shop/gold_icon.png");
    background-size: 100%;
}

.BPCostLabel
{
	font-size: 28px;
	font-family: 'Radiance';
    text-shadow: 0px 0px 10px 1 rgba(255, 200, 60, 0.2);
	color: gradient(linear, 0% 0%, 0% 100%,
			from(#FFDB5C),
			color-stop(0.8, #FFC01E),
			to(#FFFFFF));
    vertical-align: center;
    font-weight: semi-bold;
    margin-left: 10px;
}

.ProfileAndRatingSeasons
{
    width: 394px;
    height: 700px;
    margin-left: 25px;
    flow-children: down;
}

.Profile
{
    width: 394px;
    height: 110px;
    background-color: gradient(linear, 0% 0%, 85% 0%, from(rgba(73, 59, 102, 1)), to(rgba(51, 37, 78, 0.295)));
}

.NickNameAndAvatar
{
    flow-children: right;
    margin-top: 15px;
    width: 100%;
    height: 80px;
    margin-left: 15px;
    background-color: gradient(linear, 0% 0%, 85% 0%, from(rgba(0, 0, 0, 0.685)), to(rgba(0, 0, 0, 0)));
}

.AvatarProfile
{
    width: 64px;
    height: 64px;
    margin-top: 5px;
    border: 2px solid white;
    margin-left: 5px;
	border-brush: gradient(radial, 0% 0%, 2% 10%, 100% 100%, from(rgba(127, 10, 150, 0.658)), to(#ffd87600));
}

.PlayerNameAndRating
{
    flow-children: down;
    vertical-align: center;
    margin-bottom: 5px;
    margin-left: 15px;
}

.PlayerRatingProfile
{
    color: #A5B3FF;
	font-size: 16px;
	font-family: 'Radiance';
}

.BirzhaPlusSubscribeInfoLine
{
    margin-top: 75px;
    width: 100%;
    height: 30px;
    margin-left: 7px;
}

.BirzhaPlusSubscribeInfoLineBG
{
    width: 100%;
    height: 20px;
    vertical-align: center;
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: gradient(linear, 0% 0%, 85% 0%, from(rgba(129, 99, 63, 0.7917)), to(rgba(185, 151, 109, 0)));
}

.BirzhaPlusSubscribeInfoLineIcon 
{
	background-image: url("file://{images}/custom_game/birzhapass/passbuttonoff_png.png");
	background-size: 100%;
	width: 27px;
	height: 27px;
    vertical-align: center;
}

.BirzhaPlusSubscribeInfoLineLabel
{
    text-shadow: 0px 0px 10px 1 rgb(0, 0, 0);
	color: gradient(linear, 0% 0%, 0% 100%,
			from(#FFDB5C),
			color-stop(0.4, #FFC01E),
			to(#FFFFFF));
	font-weight: semi-bold;
	font-size: 12px;
    vertical-align: center;
    margin-left: 30px;
	font-family: 'Radiance';
	text-transform: uppercase;
}

.RatingHistoryList
{
    margin-top: 20px;
    width: 100%;
    height: 700px;
    flow-children: down;
}

.RatingHistoryListHeader
{
    width: 100%;
    height: 30px;
    background-color: rgba(5, 3, 13, 0.5);
}

.RatingHistoryListLabel
{
    vertical-align: center;
    margin-left: 15px;
    font-weight: semi-bold;
	font-size: 14px;
    color: #8E8E8E;
    font-family: 'Radiance';
	text-transform: uppercase;
}

.HistoryRatingListMain
{
    width: 100%;
    height: 100%;
    flow-children: down;
    background-color: gradient(linear, 0% 0%, 85% 0%, from(rgba(26, 22, 34, 1)), to(rgba(33, 27, 45, 0.59)));
}

.HistoryRatingListMainInfo
{
    width: 100%;
    height: 100%;
    flow-children: down;
    overflow: squish scroll;
}

.TopHeroesAndHeroesList
{
    width: 498px;
    height: 700px;
    flow-children: down;
    margin-left: 15px;
}

.TopHeroesList
{
    width: 100%;
    flow-children: down;
}

.TopHeroesListHeader
{
    width: 100%;
    height: 30px;
    background-color: rgba(5, 3, 13, 0.5);
}

.TopHeroesListHeaderLabel
{
    vertical-align: center;
    margin-left: 15px;
    font-weight: semi-bold;
	font-size: 14px;
    color: #8E8E8E;
    font-family: 'Radiance';
	text-transform: uppercase;
}

.BestHeroes
{
    margin-top: 2px;
    horizontal-align: center;
    flow-children: right;
}

.BestHero
{
    width: 162px;
    height: 162px;
    margin-right: 2px;
    margin-left: 2px;
    border: 1.5px solid white;
    border-brush: gradient(radial, 0% 0%, 20% 10%, 100% 100%, from(rgba(154, 105, 235, 1)), to(rgba(154, 105, 235, 0)));
}

.TopHeroesListAll
{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    flow-children: down;
}

.GamesCountBestHero
{
    width: 100%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.95);
    text-align: center;
    margin-bottom: 30px;
    vertical-align: bottom;
}
.WinCountBestHero
{
    width: 100%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.95);
    text-align: center;
    vertical-align: bottom;
}
.BestHeroImage
{
    width: 100%;
    height: 100%;
    blur: gaussian( 1.2 );
}
.PlayerHeroLevelLabel
{
    align: center center;
    color: white;
    text-shadow: 0px 0px 5px 4 black;
    width: 100%;
    text-align: center;
    font-weight: semi-bold;
	font-size: 18px;
    font-family: 'Radiance';
	text-transform: uppercase;
}
.TopHeroesListAllMain
{
    width: 100%;
    height: 100%;
    flow-children: down;
    background-color: gradient(linear, 0% 0%, 100% 0%, from(rgba(26, 22, 34, 1)), to(rgba(33, 27, 45, 0.59)));
}

.PlayerStatsAll
{
    width: 320px;
    height: 700px;
    margin-left: 15px;
    flow-children: down;
}

.PlayerStatsAllBlocks
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

.PlayerStatsAllBlock
{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-brush: gradient(radial, 0% 0%, 20% 10%, 100% 100%, from(rgba(154, 105, 235, 1)), to(rgba(154, 105, 235, 0)));
    flow-children: right;
}

.ImageStats
{
    width: 48px;
    height: 48px;
    margin-left: 20%;
    vertical-align: center;
}

.StatsInfo
{
    margin-left: 10px;
    vertical-align: center;
    flow-children: down;
}

.StatsInfoLabelMain
{
    font-weight: semi-bold;
	font-size: 14px;
    font-family: 'Radiance';
	text-transform: uppercase;
}

.StatsInfoLabelCount
{
    font-weight: semi-bold;
	font-size: 24px;
    font-family: 'Radiance';
	text-transform: uppercase;
    text-shadow: 0px 0px 10px 1 rgba(177, 60, 255, 0.2);
	color: gradient(linear, 0% 0%, 0% 100%,
			from(#800ace),
			color-stop(0.8, #a51eff),
			to(#a700a7));
}

.StatsInfoLabelMainIcon_1
{
    background-image: url("file://{images}/custom_game/birzhapass/player_mvp_crown_lg.png");
	background-size: 100%; 
}
.StatsInfoLabelMainIcon_2
{
    background-image: url("file://{images}/custom_game/birzhapass/token.png");
	background-size: 100%; 
}
.StatsInfoLabelMainIcon_3
{
    background-image: url("file://{images}/custom_game/smiles/BirzhaMertva.png");
	background-size: 100%; 
    height: 38px;
}
.StatsInfoLabelMainIcon_4
{
    background-image: url("file://{images}/custom_game/smiles/Oreh.png");
	background-size: 100%; 
}
.StatsInfoLabelMainIcon_5
{
    background-image: url("file://{images}/custom_game/smiles/CatSad.png");
	background-size: 100%; 
}
.StatsInfoLabelMainIcon_6
{
    background-image: url("file://{images}/custom_game/birzhapass/drow_arcana_target.png");
	background-size: 100%; 
}
.StatsInfoLabelMainIcon_7
{
    background-image: url("file://{images}/custom_game/birzhapass/skull_stroke.png");
	background-size: 100%; 
    height: 32px;
}