@define ANIM_TIME: 0.75s;@define EXTRA_PADDING: 50px;@define M_EXTRA_PADDING: -50px;.CustomHudRoot{width: 100%;height: 100%;}#TopBarScoreboard{margin-left: 380px;horizontal-align: left;vertical-align: top;}.AspectRatio4x3 #TopBarScoreboard{margin-left: 280px;}#ScoreboardContainer{flow-children: right;horizontal-align: left;vertical-align: top;}#MultiteamScoreboard{horizontal-align: left;vertical-align: top;height: 120px;padding-left: EXTRA_PADDING;margin-left:30px;padding-right: EXTRA_PADDING;flow-children: right;}.ScoreboardTeamWrapper{height: 100%;border-left: 5px solid transparent;border-right: 5px solid transparent;transition-property: position;transition-duration: ANIM_TIME;margin-left: M_EXTRA_PADDING;margin-right: M_EXTRA_PADDING;flow-children: down;}.ScoreboardTeamWrapper.no_players{visibility: collapse;}#ScoreboardTeam{margin-left: EXTRA_PADDING;margin-right: EXTRA_PADDING;padding-left: 2px;padding-right: 2px;}.AspectRatio4x3 .ScoreboardTeamWrapper{padding-left: -5px;padding-right: -5px;}.ScoreboardTeamWrapper.team_getting_worse{animation-duration: ANIM_TIME;animation-timing-function: ease-in-out;animation-name: GettingWorseAnim;z-index: -100;}.ScoreboardTeamWrapper.team_getting_better{animation-duration: ANIM_TIME;animation-timing-function: ease-in-out;animation-name: GettingBetterAnim;z-index: 100;}





#PlayerBirzhaInfo{height: 90px;width: 76px;align: center center;flow-children: down;}.MmrPanelClass{height: 22px;width: 82px;background-color: gradient( linear, 0% 0%, 0% 100%, from( #102149cc ), to( #1e3565cc ) );border-top: 1px solid #486ca944;border-left: 1px solid #486ca944;}.MmrTextClass{font-size: 12px;color: white;align: center center;}.BpPanelClass{height: 35px;width: 82px;margin-top: 1px;flow-children: down;}.BpPanelClassImage{height: 18px;width: 20px;align: center center;background-image: url("s2r://panorama/images/custom_game/birzhapass/star_png.vtex");}.BpPanelClassText{font-size: 13px;color: yellow;align: center center;text-shadow: 1px 2px 3px black;font-weight: bold;}.border_bp{width: 82px;height: 50px;background-image: url("s2r://panorama/images/custom_game/birzhapass/bp_border_png.vtex");}.IndexPanelClass{height: 14px;width: 82px;background-color: blue;}.PlayerTextClass{font-size: 12px;color: black;align: center center;}@keyframes 'GettingWorseAnim'{0%{pre-transform-scale2d: 1;}50%{pre-transform-scale2d: 1;}100%{pre-transform-scale2d: 1;}}@keyframes 'GettingBetterAnim'{0%{pre-transform-scale2d: 1;}50%{pre-transform-scale2d: 1.05;}100%{pre-transform-scale2d: 1;}}







#TeamStatus{width: 100%;height: 100%;}#PlayersContainer{flow-children: right;}#TeamOverlayBar{width: 100%;height: 48px;}#LocalTeamOverlay{width: 100%;height: 54px;}.ScoreboardTeamWrapper.local_player_team #LocalTeamOverlay{box-shadow: -3px -3px 12px 6px #FFFFFF88;}.FlowDown{flow-children: down;}.PlayerPortraitWrapper{flow-children: down;}#PlayerColorBar{height: 3px;width: 100%;border-bottom: 1px solid #000000;}



#HeroIcon{width: 76px;height: 43px;background-size: contain;border-left: 1px solid black;border-right: 1px solid black;}.player_dead #HeroIcon{wash-color: #CCCCCC;saturation: 0;}.player_connection_abandoned #HeroIcon{wash-color: #FF0000;saturation: 0;}#DisconnectionIndicator{opacity: 0;width: 100%;height: 18px;vertical-align: top;margin-top: 24px;}.player_connection_abandoned #DisconnectionIndicator,
.player_connection_failed #DisconnectionIndicator,
.player_connection_disconnected #DisconnectionIndicator{opacity: 1;}#ScoreRow{width: 100%;}#RespawnIndicator{width: 76px;height: 53px;opacity: 0;}#RespawnTimer{align: center center;font-size: 24px;color: white;text-shadow: 0 0 5px red;font-weight: bold;}





.ScoreboardPlayerWrapper.player_dead #RespawnIndicator{opacity: 1;transform: translateY(0px);}#LocalPlayerIndicator{horizontal-align: center;vertical-align: bottom;visibility: collapse;width: 40px;height: 20px;}#UltimateIndicatorContainer{horizontal-align: center;width: 20px;height: 20px;margin-top: 32px;}.player_ultimate_not_leveled #UltimateIndicatorContainer{visibility: collapse;}.not_local_player_team #UltimateIndicatorContainer{visibility: collapse;}.UltimateIndicatorShared{width: 100%;height: 100%;background-size: 100%;background-repeat: no-repeat;background-position: 50% 50%;}.is_local_player #LocalPlayerIndicator{visibility: visible;}












.border_snow{width: 82px;height: 50px;background-image: url("file://{images}/custom_game/birzhapass/borders/snow_border.png");}

.border_blackhole{width: 82px;height: 50px;background-image: url("file://{images}/custom_game/birzhapass/borders/blackhole_border.png");}

.border_rubick{width: 82px;height: 50px;background-image: url("file://{images}/custom_game/birzhapass/borders/border_rubick.png");}

.border_electric{width: 82px;height: 50px;background-image: url("file://{images}/custom_game/birzhapass/borders/border_electric.png");} 

.ScoreboardPlayerWrapper
{
	height: 65px;
}

.PlayerRank
{
	width: 28px;
	height: 28px;
	opacity: 0;
	align: center bottom;
}

#TeamScore
{
	horizontal-align: center;
	color: white;
	font-size: 28px;
	font-weight: bold;
	text-shadow: 0px 0px 4px 2 black;
	width: 100%;
	text-align: center;
	margin-bottom: -2px;
	text-overflow: clip;
	transform: translateY(-5px);
}

.ScoreboardPlayerWrapper.alt_health_check #TipButtonCustom{opacity: 1;transform: translateY(0px);}

#TipButtonCustom
{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #e0c59a ), to( #ae9249 ) );
  background-size: 100%;
  height: 15px;
  width: 100%;
  margin-top: 45px;
  z-index: 0;
  transform: translateY(-5px);
  border: 1px solid black;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

#TipButtonCustom:hover
{
  brightness: 1.5;
}

.TipText
{
  font-size: 12px;
  text-shadow: 0px 1px 0px 2.0 #00000077;
  color:white;
  vertical-align: center;
  horizontal-align: center;
}