.ScoreboardLeft{margin-left: 6px;margin-top: 0px;margin-right: -40px;flow-children: down;}

.VictoryPanel{
	align: right top;
	flow-children: down;
}

#AllVictoryPanel {
	width: 255px;
	flow-children: right-wrap;
	transition-property: transform;
    transition-duration: 0.5s;
}

.PanelInformation {
	background-image: url("file://{images}/custom_game/right_info/panel.png");
    background-size: 100%;
    width: 64px;
    height: 64px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    flow-children: down;
    box-shadow: gray 0px 0px 2px 1px;
    tooltip-position: bottom;
    border-radius: 5px;
    animation-name: shadow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes 'shadow'
{
    0%
    {
        box-shadow: gray 0px 0px 5px 1px;
    }
    50%
    {
        box-shadow: gray 0px 0px 1px 1px;
    }
    100%
    {
        box-shadow: gray 0px 0px 5px 1px;
    }
}

.PanelText {
	font-size: 18px;
	font-weight: bold;
	color: white;
	horizontal-align: center;
	width: 64px;
	text-align: center;
	margin-top: 3px;
}

.PanelCenter {
	flow-children: down;
	align: center center;
}

#TimerGame {
	background-image: url("s2r://panorama/images/hud/reborn/icon_sun_psd.vtex");
	transform: scaleX(-1);
	width: 25px;
	height: 25px;
	background-size: 100%;
	horizontal-align: center;
}

#PointToWin
{
	background-image: url("file://{images}/custom_game/right_info/win.png");
	width: 25px;
	height: 25px;
	background-size: 100%;
	horizontal-align: center;
}


#TimerReward
{
	background-image: url("file://{images}/custom_game/right_info/reward.png");
	width: 25px;
	height: 25px;
	background-size: 100%;
	horizontal-align: center;
}


#FountainTimerLogo
{
	background-image: url("file://{images}/custom_game/right_info/fountain.png");
	width: 25px;
	height: 25px;
	background-size: 100%;
	horizontal-align: center;
}


#EndGameTimer
{
	background-image: url("file://{images}/custom_game/right_info/end.png");
	width: 25px;
	height: 25px;
	background-size: 100%;
	horizontal-align: center;
}

#TimerContract
{
	background-image: url("file://{images}/custom_game/right_info/contract.png");
	width: 25px;
	height: 25px;
	background-size: 100%;
	horizontal-align: center;
}

#CloseGameInfo {
	horizontal-align: right;
	margin-right: 10px;
	margin-top: 5px;
}

.TextOpen {
	font-size: 14px;
	color: white;
	text-align: center;
	margin-top: 3px;
	font-family: Radiance;
	text-shadow: 0px 0px 5px 3 black;
	visibility: collapse;
}

.TextOpen:hover {
	color: white;
}


#ContractPanel 
{
	margin-right: 15px;
	width: 230px;
	margin-top: 30px;
	align: right top;
	flow-children: down;
	transition-property: transform;
    transition-duration: 0.5s;
    z-index: -5;
}

.LabelText 
{
	font-size: 15px;
	horizontal-align: center;
	color: white;
	margin-top: 2px;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px 3 black;
	border-bottom: 1px solid white;
	width: 100%;
	text-align: center;
	padding-bottom: 5px;
	border-brush: gradient( radial, 50% 50%, 0% 0%, 50% 100%, from( white ), to( #fff0 ) );
}

#HeroIcons 
{
	flow-children: down;
	width: 100%;
}

.Hero 
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.HeroIcon 
{
	background-image: url("file://{images}/custom_game/hight_hood/heroes/npc_dota_hero_abaddon_png.png");
	background-size: 100%;
	border-radius: 100px;
	width: 30px;
	height: 30px;
	vertical-align: center;
	border: 1px solid black;
}

.HeroName {
	font-size: 18px;
	text-shadow: 0px 0px 4px 1 black;
	color: white;
	vertical-align: center;
	width: 130px;
	text-align: center;
	margin-left: 5px;
}

.ContractSelector
{
    width: 200px;
    height: 100px;
    background-color: red;
    align: center center;
}