.OverthrowNotification{width: 100%;height: 100%;}
.OverthrowItemNotification{width: 100%;height: 100%;margin-top: 150px;}

.ItemImage
{
	vertical-align: center;
	horizontal-align: center;
	width: 64px;
	height: 64px;
}

.TitleFont{
	margin-top: 10px;
	horizontal-align: center;
	font-size: 12px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px 2 #121212;
	letter-spacing: 0.5px;
	font-weight: bold;
}

#EventItemspawn {
	background-image: url("file://{images}/custom_game/events/item.png");
	background-size: 100%;
}

#Item2Image {
	background-image: url("file://{images}/custom_game/events/item2.png");
	background-size: 100%;	
}

#LeaderImage {
	background-image: url("file://{images}/custom_game/events/leader.png");
	background-size: 100%;	
}

#BristleKekImage {
	background-image: url("file://{images}/custom_game/events/bristlekek.png");
	background-size: 100%;
}

#LolBladeImage {
	background-image: url("file://{images}/custom_game/events/lolblade.png");
	background-size: 100%;	
}

#FountainImage {
	background-image: url("file://{images}/custom_game/events/fountain.png");
	background-size: 100%;	
}

#ContractSpawnImage {
	background-image: url("file://{images}/custom_game/events/contract_spawned.png");
	background-size: 100%;	
}

#ContractAcceptImage {
	background-image: url("file://{images}/custom_game/events/contract_accepted.png");
	background-size: 100%;	
}

#ContractCancelImage {
	background-image: url("file://{images}/custom_game/events/contract_lose.png");
	background-size: 100%;	
}

#PucciImage 
{
	background-image: url("file://{images}/custom_game/events/pucci.png");
	background-size: 100%;	
}

#AlertMessage
{
	flow-children: down;
	horizontal-align: center;
	opacity: 0;
	transform: scaleX(0.5) scaleY(0.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}

.item_has_spawned #AlertMessage{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}
.item_will_spawn #AlertMessage{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}



#PickupMessage
{
	flow-children: down;
	horizontal-align: center;
	opacity: 0;
	transform: scaleX(0.5) scaleY(0.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}

.recent_item_drop #PickupMessage{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}


#KillMessage
{
	flow-children: down;
	horizontal-align: center;
	opacity: 0;
	transform: scaleX(0.5) scaleY(0.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}

.leader_has_been_killed #KillMessage{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}




#Bristlekek
{
	flow-children: down;
	horizontal-align: center;
	opacity: 0;
	transform: scaleX(0.5) scaleY(0.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}

.bristleback_killed #Bristlekek{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}


#LolBlade
{
	flow-children: down;
	horizontal-align: center;
	opacity: 0;
	transform: scaleX(0.5) scaleY(0.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}

.lolblade_killed #LolBlade{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}

#Fountain
{
	flow-children: down;
	horizontal-align: center;
	opacity: 0;
	transform: scaleX(0.5) scaleY(0.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}

.fountain_close #Fountain{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}





#Pucci
{
	flow-children: down;
	horizontal-align: center;
	opacity: 0;
	transform: scaleX(0.5) scaleY(0.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}

.pucci_quest #Pucci{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}






#ContractSpawn
{
	flow-children: down;
	horizontal-align: center;
	opacity: 0;
	transform: scaleX(0.5) scaleY(0.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}

.contract_has_spawned #ContractSpawn{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}
.contract_spawned #ContractSpawn{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}


#ContractAccept
{
	flow-children: down;
	horizontal-align: center;
	opacity: 0;
	transform: scaleX(0.5) scaleY(0.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}

.contract_accepted #ContractAccept{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}

#ContractCancel
{
	flow-children: down;
	horizontal-align: center;
	opacity: 0;
	transform: scaleX(0.5) scaleY(0.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}

.contract_canceles #ContractCancel{opacity: 1;transform: scaleX(1) scaleY(1);visibility: visible;}