.ShelbyPanel
{
	align: right top;
	background-image: url("file://{images}/custom_game/shelby_bet/background.png");
	background-size: 100%;
	width: 360px;
	margin-top: 45%;
	flow-children: down;
	visibility: collapse;
}

.EventDescription {
    width: 100%;
    height: 20px;
    background-image: url("file://{images}/custom_game/shelby_bet/bg_name.png");
    background-size: 100%;
    margin-bottom: 14px;
}

.EventLabel
{
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    vertical-align: center;
    margin-left: 10px;
    text-shadow: 0px 0px 2px 2 black;
}

.EventLabelTwo
{
    font-weight: bold;
    font-size: 12px;
    color: white;
    margin-left: 195px;
    vertical-align: center;
    text-shadow: 0px 0px 2px 2 black;
}

.timer
{
	margin-left: 305px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: center;
    color: white;
    text-shadow: 0px 0px 2px 2 black;
}

#EventRunInfo {
    horizontal-align: right;
    margin-right: 10px;
    background-image: url("file://{images}/custom_game/shelby_bet/info.png");
    background-size: 100%;
    width: 12px;
    height: 12px;
    vertical-align: center;
    z-index: 15;
}

#choose_bet,
#choose_type
{
    width: 100px;
    margin-left: 10px;
    vertical-align: center;
    border-radius: 5px;
}


#SelectedTypes {
    flow-children: right;
    horizontal-align: right;
    margin-right: 5px;
    margin-top: 5px;
}

.run_started #SelectRunnerPanel {
    visibility: collapse;
}

#Number
{
    font-weight: bold;
    font-size: 14px;
    color: white;
    align: center center;
    visibility: visible;
}

#SelectedArrow {
   background-image: url("file://{images}/custom_game/shelby_bet/select_arrow_off.png"); 
   background-size: 100%;
   width: 6px;
   height: 18px;
   margin-left: 6px;
   vertical-align: center;
}

.DeactivateRun #SelectedArrow {
    opacity: 0;   
}

.SelectedUnit #SelectedArrow {
    background-image: url("file://{images}/custom_game/shelby_bet/select_arrow.png");    
}

#Tier {
    background-image: url("file://{images}/custom_game/shelby_bet/1_tier.png"); 
    width: 20px;
    height: 20px;
    margin-left: 12px;
}

#SelectRunnerPanel {
   background-image: url("file://{images}/custom_game/shelby_bet/background_bet.png");  
   height: 60px;
   width: 100%;
   vertical-align: bottom;
   flow-children: down;
}

#BetPanel {
    flow-children: down;
    width: 100%;
    height: 100%;
}

#BetA {
    width: 44px;
    height: 18px;
    margin-left: 7px;
    vertical-align: center;
    flow-children: right;
}

#BetB {
    width: 44px;
    height: 18px;
    margin-right: 7px;
    vertical-align: center;
    flow-children: right;
}

.BetIcon {
    width: 12px;
    height: 12px;
    vertical-align: center;
}

.BetLabel {
    font-weight: bold;
    font-size: 20px;
    color: white;
    horizontal-align: center;
    color: white;
    text-shadow: 0px 0px 5px 2 black;
    margin-top: 2px;
}

#BetAIcon {
    background-image: url("file://{images}/custom_game/shard_icon.png");  
    background-size: 100%;
    width: 15px;
    height: 15px;
}

#BetBIcon {
    background-image: url("file://{images}/custom_game/ticket_icon.png");  
    background-size: 100%;
    width: 15px;
    height: 15px;
}

#EventRun_Slider
{
    margin-top: 3px;
    width: 240px;
    height: 15px;
    horizontal-align: center;
}

#VerticalScrollBar {
    background-color: gray;
}

#SliderTrack
{
    height: 10px;
    width: 100%;
    border: 0px solid #0f0f11;
    vertical-align: center;
    background-color: rgba(0,0,0,0);
    box-shadow: fill rgba(0, 0, 0, 0.5) 0px 0px 0px 0px;
    background-image: url("file://{images}/custom_game/shelby_bet/line.png");
    opacity-mask: url("file://{images}/custom_game/shelby_bet/opacity_mask.png") 0.9;
    background-size: 100% 100%;
}

Slider.HorizontalSlider #SliderTrack, SlottedSlider.HorizontalSlider #SliderTrack {
    height: 6px;
}

#SliderTrackProgress
{
    visibility: collapse;
}

#SliderThumb
{
    vertical-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: fill rgba(0, 0, 0, 0.5) 0px 0px 0px 0px;
    z-index: 2;
    background-color: gray;
}

Slider.HorizontalSlider #SliderThumb, SlottedSlider.HorizontalSlider #SliderThumb {
    height: 100%;
    width: 6px;  
    background-color: gray;
    border-radius: 0px;

}

#SliderThumb:hover
{
    brightness: 1.5;
}

Slider {
    margin-bottom: 0px;
}

.select_button_label
{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: rgba(230, 215, 255, 1);
    align: center center;
}

.RunnerPercent {
    width: 260px;
    height: 6px;
    vertical-align: center;
    margin-left: 10px;
}

.RunnerBackBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.RunnerBackground {
    height: 100%;
    background-color: #7D75AE;
}

#kotlrunner .UnitRunnerIcon {
    background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_keeper_of_the_light_png.vtex");
    background-size: 100%;
}

#miranarunner .UnitRunnerIcon {
    background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_mirana_png.vtex");
    background-size: 100%;
}

#chaosrunner .UnitRunnerIcon {
    background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_chaos_knight_png.vtex");
    background-size: 100%;
}

#lunarunner .UnitRunnerIcon {
    background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_luna_png.vtex");
    background-size: 100%;
}

.SelectedUnit {
     background-image: url("file://{images}/custom_game/shelby_bet/selected_bg.png"); 
     background-size: 100%;
}

.UnitRunnerIcon {
    width: 24px;
    height: 24px;
    background-size: contain;
    vertical-align: center;
    margin-left: 5px;
}


.RunnerPanel {
    height: 24px;
    width: 100%;
    flow-children: right;
    margin-bottom: 10px;
}

.SelectButton {
    width: 100px;
    height: 16px;
    margin-top: 0px;
    background-image: url("file://{images}/custom_game/shelby_bet/select_button.png");
    background-color: red;
    horizontal-align: center;
    align: center center;
    margin-left: 30.5px;
    margin-right: 30.5px;
    box-shadow: black 0px 0px 5px 0px;
}

.SelectButton:hover {
    brightness: 1.2;
}

DropDownMenu {
    width: 100px;
}