.PlayersTipHistory
{
	width: 500px;
	height: 496px;
	align: right top;
	margin-top: 380px;
	flow-children: down;
	transition-property: position;
  	transition-duration: 0.1s;
  	transition-timing-function: ease-out;
}

.notification
{
	margin-top: 2px;
	margin-bottom: 2px;
	width: 500px;
	horizontal-align: right;
	height: 120px;
	opacity: 0;
  	transition-property: transform, opacity, position;
  	transition-duration: 0.5s;
  	transition-timing-function: ease-out;
  	transform: translateX(100px);
}

.notification_info
{
	horizontal-align: right;
	width: 400px;
	height: 120px;
	background-image: url("file://{images}/custom_game/tip_background.png");
    background-size: 100%;
}

.visible
{
	opacity: 1;
  	transform: translateX(0px);
}

.playerbox
{
	vertical-align: center;
	horizontal-align: left;
	flow-children: down;
	margin-left: 20px;
}

.one_player_portrait
{
	horizontal-align: center;
	width: 86px;
	height: 48px;
}

.label_tip
{
	font-size: 16px;
	color: white;
	font-weight: bold;
	vertical-align: center;
	horizontal-align: center;
	margin-bottom: 25px;
	width: 150px;
	text-align: center;
}


.playerbox_two
{
	vertical-align: center;
	horizontal-align: right;
	flow-children: down;
	margin-right: 20px;
}

.two_player_portrait
{
	horizontal-align: center;
	width: 86px;
	height: 48px;
}

.one_player_nickname
{
	color: white;
	font-size: 16px;
	horizontal-align: center;
	margin-top: 5px;
	font-weight: bold;
	width: 100px;
	height: 18px;
	text-align: center;
}
.two_player_nickname
{
	color: white;
	font-size: 16px;
	font-weight: bold;
	horizontal-align: center;
	margin-top: 5px;
	width: 100px;
	height: 18px;
	text-align: center;
}